.login-status__email {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    margin: 0 24px 0 0;
    padding: 0;
    transition: opacity 1s;
}

.login-status__email:hover {
    opacity: .8;
    cursor: pointer;

}